*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-image: linear-gradient(to bottom left, yellow, red);
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactForm {
    margin: 25px 0 50px;
}

input[type=text],
input[type=email],
button {
    border: 1px solid white;
    padding: 10px 20px;
    display: block;
    background-color: transparent;
    border-radius: 3px;
    margin: 5px 0;
    color: white;
    width: 100%;
    font-size: 20px;
}

button {
    cursor: pointer;
    transition: all .2s;
}

button:hover,
button:active {
    background-color: white;
    color: orangered;
}

input::placeholder {
    color: white;
}

.contactItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0 15px;
    background-color: white;
    border-radius: 3px;
}

.contactImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px;
}

.contactInfo {
    margin-left: 15px;
}

.contactLabel {

}

.contactEmail {

}

